@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br><br><br>
    <h1>Tutor Buddy</h1>
    <h2>Simplified Online Learning.</h2><br>
    @*<p class="lead">Learn Anywhere. With The Best.</p>*@
    <p><a href="https://asp.net" class="btn btn-findtutor btn-lg">Find Tutor &raquo;</a></p>

    <div class="row">
        <div class="col-sm-5">
            <h3>Learn Anywhere. With The Best.</h3>
            <h3>Break The Fear Of Online Learning.</h3>
            <h3>You Have Potential!</h3>
        </div>

        @*<div class="col-sm-3">
                <p>
                    <img src="~/images/homeBackground3.png" style="width:250px;height:250px; flex:-1" />
                </p>
            </div>
            <div class="col-sm-4">
                <p>
                    <h3>Learn Anywhere.</h3>
                    <img src="~/images/homeBackground2.png" />
                </p>
            </div>*@
    </div>
</div>